@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@layer base {
    .flex-center {
       @apply flex items-center;
    }

    .text-grey-small {
       @apply text-[14px] text-[#bfc6ca];
    }

    .job-info-text {
       @apply rounded-[5px] py-[2px] px-[7px] text-[14px] jobs-info-bg;
    }

  }

.jobs-info-bg {
    background-color: rgba(202,205,205,255); 
    backdrop-filter: 10px;
    -webkit-backdrop-filter: 10px;
}

.apply-btn {
   backdrop-filter: 10px;
   -webkit-backdrop-filter: 10px;
   background-color: rgba(216,234,254,255);
}